@import '../../../fonts';
@import '../../../colors';

.game-title {
  color: white;
  font-size: 36pt;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.card {
  padding: 2rem 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: $tft-light-orange;
  border-radius: 1rem;
}

.container {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waiting-room-title {
  margin: 0;
  align-self: start;
  color: $tftf-dark-orange;
  font-size: 24pt;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
.waiting-room-option-buttons {
  display: flex;
  gap: 2rem;
  button {
    text-transform: uppercase;
    color: white;
  }
}

.username {
  text-align: left;
  font-size: 16pt;
}


.player-list {
  align-self: start;
}

.player-list-item {
  margin-left: -16px; // hack to remove padding on mat-list-item
  span {
    margin-right: 0.5rem;
  }
}

.own-username {
  font-weight: bold;
}
