@import '../../../colors';
@import '../../../fonts';

.container-brainstorm {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  max-width: 60rem;
  min-width: 60rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tft-light-orange;
  border-radius: 0.5rem;
}

.text-field {
  width: 40rem;
}

.submit-button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.your-future-thing-title {
  margin-top: 0;
  color: black;
  font-size: 34pt;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
