<div class="container-brainstorm">
  <div></div>
  <div class="card">
    <p class="your-future-thing-title">your thing from the future</p>
    <form class="future-thing-form">
      <mat-form-field class="text-field" appearance="fill">
        <mat-label>Write your original invention</mat-label>
        <textarea rows="8" matInput [matTextareaAutosize]="true"></textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button color="accent" class="submit-button" (click)="submit()" [disabled]="storySubmitted">submit</button>
  </div>
</div>
