@import '../../../colors';
@import '../../../fonts';

.container-brainstorm {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.played-cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0.5rem;
}

.exit-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.card {
  width: 60%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tft-light-orange;
  border-radius: 0.5rem;
}

.text-field {
  width: 90%;
  background-color: white;
}

.submit-button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.your-future-thing-title {
  margin-top: 0;
  color: black;
  font-size: xx-large;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.timer {
  color: white;
  font-family: 'Bebas Neue', serif;
  font-size: xxx-large;
}
