<div class="container-brainstorm">
  <h1 class="game-title">the thing from the future</h1>
  <app-exit-room-button class="exit-button"></app-exit-room-button>
  <div class="played-cards-container">
    <app-card *ngFor="let playedCard of playedCards" [kind]="playedCard.kind" [name]="playedCard.name" [staticCard]="true"></app-card>
  </div>
  <div class="timer">
    {{timeRemaining}} seconds remaining
  </div>
  <div class="card">
    <p class="your-future-thing-title">your thing from the future</p>
      <mat-form-field class="text-field" appearance="fill">
        <mat-label>Write your original invention</mat-label>
        <textarea #story rows="8" matInput class="input"></textarea>
      </mat-form-field>
    <button mat-raised-button color="accent" class="submit-button" (click)="submit(story.value)" [disabled]="storySubmitted">submit</button>
  </div>
</div>
