@import '../../../colors';
@import '../../../fonts';

.game-title {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

.timer {
  color: $tftf-yellow;
  font-family: 'Bebas Neue', serif;
  font-size: x-large;
  text-align: center;
}

.voting-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
}
