@import '../../../colors';
@import '../../../fonts';

.container-empty-card-spaces {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card {
  width: 8rem;
  height: 11rem;
  opacity: 0.3;
  border-radius: 1rem;
  margin: 0 1rem 0 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  padding: 0.5rem 0 0.5rem 0;
}

.played {
  opacity: 1!important;
  border: solid black 0.25rem;
}


.card-object {
  background-color: $tftf-red;
}

.card-mood {
  background-color: $tftf-violet;
}

.card-terrain {
  background-color: $tftf-blue;
}

.card-arc {
  background-color: $tftf-green
}
.card-category {
  font-family: 'Cabin', sans-serif;
  color: white;
}

.card-term {
  font-family: 'Bebas Neue', cursive;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
