@import '~@angular/material/theming';
@include mat-core();
$tftf-red: #F26E7D;
$tftf-green: #8DC63F;
$tftf-blue: #00BDF2;
$tftf-violet: #BB8ABD;
$tftf-dark-blue: #191E44;
$tft-light-orange: #FFF7CA;
$tftf-orange: #FFDD66;
$tftf-dark-orange: #E68A00;
$tftf-error:  map-get($mat-red, 500);
