@import './../../colors';

.card {
  width: 7rem;
  height: 10rem;
  border: solid black 0.25rem;
  border-radius: 0.5rem;
}

.card-object {
  background-color: $tftf-red;
}

.card-mood {
 background-color: $tftf-violet;
}

.card-terrain {
  background-color: $tftf-blue;
}

.card-arc {
 background-color: $tftf-green

}
