@import './../../colors';
@import './../../fonts';

:host {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.game-title {
  color: white;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
